<% provide(:title, 'All users') %>

<h1><%= yield(:title) %></h1>

<!-- Chap 9.32 Using will_paginate gem -->
<%= will_paginate %>

<ul class="users">
	<%= render @users %>
</ul>

<%= will_paginate %>