<% provide(:title, 'All users') %>

<h1><%= yield(:title) %></h1>

<ul class="users">
	<% @users.each do |u| %>
		<li>
			<%= gravatar_for u, size: 52 %>
			<%= link_to u.name, u %>
		</li>
	<% end %>
</ul>