<header>
  <nav  class="navbar navbar-inverse navbar-fixed-top">
  	<div class="container">
	    <%= link_to "sample app", '#', id: "logo", class: "navbar-brand" %>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </div>
  </nav>
</header>